<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AiteAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
  </head>
  <body class="flex flex-col h-screen">
    <div class="chatBot">
      <div id="messageHolder" class="message-holder">
        <ul class="chatbox">
          <li class="chat-incoming chat">
            <p>Hey! How can I assist you today?</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="chat-input-container">
      <input
        type="text"
        class="chat-bar message-input"
        placeholder="Chat..."
        name="chat"
        id="chat"
      />
      <button id="btn" class="send-button">Send</button>
    </div>
    
    <script type="importmap">
      {
        "imports": {
          "@google/generative-ai": "https://esm.run/@google/generative-ai"
        }
      }
    </script>
    <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
